body {
    background-image: url(../img/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* font */
nav {
    letter-spacing: 2.7px;
}

.ff300 {
    font-family: var(--ff-300);
}

.ff400 {
    font-family: var(--ff-400);
}

.ff500 {
    font-family: var(--ff-500);
}

/* nav */
header {

    && img {
        margin: 1rem 3.4375rem;
        width: 3rem;
    }

    && ul {
        gap: 2rem;
        flex-direction: column;
        background-color: var(--clr-lgt-transp);
        backdrop-filter: blur(10px);
        height: 100vh;
    }
    
    && li {
        list-style-type: none;
    
        && a {
            color: var(--clr-neutral-lgt);
        }
    
        && span {
            margin-inline-end: .5rem;
        }
    }
}

a {
    text-decoration: none;
}

.homeContainer {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size: var(--fs-mb-h2);
    font-family: var(--ff-500);
}


.btn {
    font-size: var(--fs-mb-);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: var(--clr-neutral-lgt);
    border-radius: 50%;
    color: var(--clr-neutral-drk);
}